<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1><a href="/">Home</a></h1>
    <h1><a href="/navigation/about">navigation/About</a></h1>
    <h1><a href="/navigation/contact">navigation/Contact</a></h1>

    <h2>Author : {{author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>List : {{list}}</h2>

    <!-- Conditional Statement -->
    {% if age >= 18 %}
      <h5>You're an adult</h5>
    {% elif age >= 10 and age < 18 %}
      <h5>You're a teenager</h5>
    {% else %}
      <h5>You're a child</h5>
    {% endif %}

    <!-- For Loop -->
    {% for i in courses %}
    <h4>{{i.id}} {{i.name}} {{i.fee}}</h4>
    {% endfor %}

  </body>
</html>
